{% extends 'base.html.twig' %}

{% block title %}Thank You{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col text-center">
            <h1>Thank You, {{ firstName }} {{ lastName }} for your interest !</h1>
            <p>You can download my CV by clicking the button below.</p>
            <a href="{{ asset('image/Yassine.pdf') }}" class="btn btn-primary" download>Download</a>
        </div>
    </div>
</div>
{% endblock %}
